@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Medium.eot") format("eot"),
    url("/fonts/Vazir-Medium.ttf") format("ttf"),
    url("/fonts/Vazir-Medium.woff") format("woff"),
    url("/fonts/Vazir-Medium.woff2") format("woff2");
}
html,
body,
#__next {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "vazir" !important;
}
.img {
  max-width: unset !important;
  min-width: unset !important;
  min-height: unset !important;
  max-height: unset !important;
}
a {
  text-decoration: none !important;
}
